* {
  margin: 0;
  padding: 0;
}

nav{
    background-color: navy;
    height: 15vh;
}
main{
    position: relative;
    bottom: 3vh;
    width: 60%;
    margin: auto;
    box-shadow: 1px 1px 10px 1px rgb(195, 194, 194);
}

.heading{
    padding: 10px;
    background-color: navy;
    text-align: center;
    color: white;
}

.input_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_box{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input_box label{
    font-weight: bold;
    font-size: 21px;
}

input{
    font-size: 18px;
    border: 1px solid gainsboro;
    padding: 5px;
    border-radius: 7px;
}

button{
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    height: fit-content;
    background: navy;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.container{
    padding: 20px;
}

.your_todo{
    margin: 10px 0 10px 0;
}

ul{
    list-style: none;
}


li{
    margin-top: 12px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons{
    color: white;
}
.icons i{
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: navy;
    cursor: pointer;
}

.edit:hover{
    background: goldenrod;
}
.delete:hover{
    background: red;
}